<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />

<script src="/javascripts/jquery-2.1.4.js"></script>
<script src="/javascripts/bootstrap.js"></script>

